<div class="app">

  <header class="header">

    <div class="brand">
      RAY DOT<span>.</span>
    </div>

    <div class="status">
      ● ONLINE
    </div>

  </header>


  <main>

    @if (!isDisplaying) {

      <section class="setup">

        <div class="eyebrow">
          PERSONAL DISPLAY DEVICE
        </div>

        <h1>MESSAGE</h1>

        <p class="question">
          何を表示する？
        </p>


        <input
          type="text"
          [(ngModel)]="message"
          placeholder="TYPE SOMETHING..."
          maxlength="40"
        />


        <div class="mode-title">
          MODE
        </div>


        <div class="modes">

          <button
            type="button"
            [class.selected]="mode === 'scroll'"
            (click)="mode = 'scroll'"
          >
            SCROLL
          </button>


          <button
            type="button"
            [class.selected]="mode === 'still'"
            (click)="mode = 'still'"
          >
            STILL
          </button>


          <button
            type="button"
            [class.selected]="mode === 'blink'"
            (click)="mode = 'blink'"
          >
            BLINK
          </button>

        </div>


        <!-- COLOR -->

        <div class="option-title">
          COLOR
        </div>


        <div class="color-options">

          <button
            type="button"
            class="color-button pink"
            [class.selected]="color === 'pink'"
            (click)="color = 'pink'"
          >
            PINK
          </button>


          <button
            type="button"
            class="color-button yellow"
            [class.selected]="color === 'yellow'"
            (click)="color = 'yellow'"
          >
            YELLOW
          </button>


          <button
            type="button"
            class="color-button purple"
            [class.selected]="color === 'purple'"
            (click)="color = 'purple'"
          >
            PURPLE
          </button>


          <button
            type="button"
            class="color-button blue"
            [class.selected]="color === 'blue'"
            (click)="color = 'blue'"
          >
            BLUE
          </button>


          <button
            type="button"
            class="color-button green"
            [class.selected]="color === 'green'"
            (click)="color = 'green'"
          >
            GREEN
          </button>


          <button
            type="button"
            class="color-button orange"
            [class.selected]="color === 'orange'"
            (click)="color = 'orange'"
          >
            ORANGE
          </button>

        </div>


        <!-- STYLE -->

        <div class="option-title">
          STYLE
        </div>


        <div class="style-options">

          <button
            type="button"
            [class.selected]="displayStyle === 'neon'"
            (click)="displayStyle = 'neon'"
          >
            NEON
          </button>


          <button
            type="button"
            [class.selected]="displayStyle === 'led'"
            (click)="displayStyle = 'led'"
          >
            LED BOARD
          </button>

        </div>


        <button
          type="button"
          class="display-button"
          (click)="display()"
        >

          DISPLAY <span>→</span>

        </button>

      </section>


    } @else {


      <section
        class="display"

        [class.scroll]="mode === 'scroll'"
        [class.still]="mode === 'still'"
        [class.blink]="mode === 'blink'"

        [class.theme-pink]="color === 'pink'"
        [class.theme-yellow]="color === 'yellow'"
        [class.theme-purple]="color === 'purple'"
        [class.theme-blue]="color === 'blue'"
        [class.theme-green]="color === 'green'"
        [class.theme-orange]="color === 'orange'"

        [class.style-neon]="displayStyle === 'neon'"
        [class.style-led]="displayStyle === 'led'"

        [style.--led-size.px]="ledSize"
        [style.--scroll-distance.px]="scrollDistance"
      >


        <div class="display-panel">


          @if (mode === 'scroll') {

            <div class="scroll-window">

              <div
                class="scroll-track"
                [class.ready]="scrollReady"
                [style.animation-duration]="
                  displayDuration + 's'
                "
              >

                @for (
                  chars of scrollCopies;
                  track $index
                ) {

                  <div
                    class="led-message scroll-copy"
                  >

                    @for (
                      char of chars;
                      track $index
                    ) {

                      <div class="led-character">

                        @for (
                          row of getRows(char);
                          track $index
                        ) {

                          <div class="led-row">

                            @for (
                              dot of row;
                              track $index
                            ) {

                              <span
                                class="led"
                                [class.on]="dot === '1'"
                              ></span>

                            }

                          </div>

                        }

                      </div>

                    }

                  </div>

                }

              </div>

            </div>


          } @else {


            <div class="still-window">

              <div class="still-message">

                @for (
                  char of displayChars;
                  track $index
                ) {

                  <div class="led-character">

                    @for (
                      row of getRows(char);
                      track $index
                    ) {

                      <div class="led-row">

                        @for (
                          dot of row;
                          track $index
                        ) {

                          <span
                            class="led"
                            [class.on]="dot === '1'"
                          ></span>

                        }

                      </div>

                    }

                  </div>

                }

              </div>

            </div>

          }


        </div>


        <div class="size-control">

          <div class="size-header">

            <span>
              DOT SIZE
            </span>

            <span class="size-value">
              {{ ledSize }} PX
            </span>

          </div>


          <input
            class="size-slider"
            type="range"
            min="4"
            max="20"
            step="1"
            [(ngModel)]="ledSize"
            (input)="onSizeChange()"
          />


          <div class="size-labels">

            <span>
              SMALL
            </span>

            <span>
              LARGE
            </span>

          </div>

        </div>


        <button
          type="button"
          class="back-button"
          (click)="stopDisplay()"
        >

          ← EDIT

        </button>


      </section>

    }

  </main>

</div>