<div class="app">

  <header class="header">

    <div class="brand">
      RAY DOT<span>.</span>
    </div>

    <div class="status">
      ● ONLINE
    </div>

  </header>


  <main>

    @if (!isDisplaying) {

      <section class="setup">

        <div class="eyebrow">
          PERSONAL DISPLAY DEVICE
        </div>


        <h1>
          {{
            displayType === 'message'
              ? 'MESSAGE'
              : displayType === 'clock'
                ? 'CLOCK'
                : displayType === 'timer'
                  ? 'TIMER'
                  : 'COUNTDOWN'
          }}
        </h1>


        <!-- =====================
             DISPLAY TYPE
        ====================== -->

        <div class="mode-title">
          DISPLAY TYPE
        </div>


        <div class="display-types">

          <button
            type="button"
            [class.selected]="
              displayType === 'message'
            "
            (click)="selectDisplayType('message')"
          >
            MESSAGE
          </button>


          <button
            type="button"
            [class.selected]="
              displayType === 'clock'
            "
            (click)="selectDisplayType('clock')"
          >
            CLOCK
          </button>


          <button
            type="button"
            [class.selected]="
              displayType === 'timer'
            "
            (click)="selectDisplayType('timer')"
          >
            TIMER
          </button>


          <button
            type="button"
            [class.selected]="
              displayType === 'countdown'
            "
            (click)="selectDisplayType('countdown')"
          >
            COUNTDOWN
          </button>

        </div>


        <!-- =====================
             MESSAGE
        ====================== -->

        @if (
          displayType ===
          'message'
        ) {

          <p class="question">
            何を表示する？
          </p>


          <input
            type="text"
            [(ngModel)]="message"
            placeholder="TYPE SOMETHING..."
            maxlength="40"
          />


          <div class="mode-title">
            MODE
          </div>


          <div class="modes">

            <button
              type="button"
              [class.selected]="
                mode === 'scroll'
              "
              (click)="mode = 'scroll'"
            >
              SCROLL
            </button>


            <button
              type="button"
              [class.selected]="
                mode === 'still'
              "
              (click)="mode = 'still'"
            >
              STILL
            </button>


            <button
              type="button"
              [class.selected]="
                mode === 'blink'
              "
              (click)="mode = 'blink'"
            >
              BLINK
            </button>

          </div>

        }


        <!-- =====================
             CLOCK
        ====================== -->

        @if (
          displayType ===
          'clock'
        ) {

          <p class="question">
            現在時刻を表示する
          </p>

        }


        <!-- =====================
             TIMER
        ====================== -->

        @if (
          displayType ===
          'timer'
        ) {

          <p class="question">
            00:00:00 から計測する
          </p>

        }


        <!-- =====================
             COUNTDOWN
        ====================== -->

        @if (
          displayType ===
          'countdown'
        ) {

          <div class="option-title">
            START TIME
          </div>


          <div class="countdown-input">

            <input
              type="number"
              min="1"
              max="999"
              [(ngModel)]="
                countdownInputMinutes
              "
              (input)="
                onCountdownInputChange()
              "
            />


            <span>
              MINUTES
            </span>

          </div>

        }


        <!-- =====================
             COLOR
        ====================== -->

        <div class="option-title">
          COLOR
        </div>


        <div class="color-options">

          <button
            type="button"
            class="color-button pink"
            [class.selected]="
              color === 'pink'
            "
            (click)="color = 'pink'"
          >
            PINK
          </button>


          <button
            type="button"
            class="color-button yellow"
            [class.selected]="
              color === 'yellow'
            "
            (click)="color = 'yellow'"
          >
            YELLOW
          </button>


          <button
            type="button"
            class="color-button purple"
            [class.selected]="
              color === 'purple'
            "
            (click)="color = 'purple'"
          >
            PURPLE
          </button>


          <button
            type="button"
            class="color-button blue"
            [class.selected]="
              color === 'blue'
            "
            (click)="color = 'blue'"
          >
            BLUE
          </button>


          <button
            type="button"
            class="color-button green"
            [class.selected]="
              color === 'green'
            "
            (click)="color = 'green'"
          >
            GREEN
          </button>


          <button
            type="button"
            class="color-button orange"
            [class.selected]="
              color === 'orange'
            "
            (click)="color = 'orange'"
          >
            ORANGE
          </button>

        </div>


        <!-- =====================
             STYLE
        ====================== -->

        <div class="option-title">
          STYLE
        </div>


        <div class="style-options">

          <button
            type="button"
            [class.selected]="
              displayStyle === 'neon'
            "
            (click)="displayStyle = 'neon'"
          >
            NEON
          </button>


          <button
            type="button"
            [class.selected]="
              displayStyle === 'led'
            "
            (click)="displayStyle = 'led'"
          >
            LED BOARD
          </button>

        </div>


        <!-- =====================
             DISPLAY BUTTON
        ====================== -->

        <button
          type="button"
          class="display-button"
          (click)="display()"
        >

          DISPLAY
          <span>→</span>

        </button>

      </section>


    } @else {


      <!-- =====================
           DISPLAY
      ====================== -->

      <section
        class="display"

        [class.scroll]="
          displayType === 'message'
          &&
          mode === 'scroll'
        "

        [class.still]="
  displayType === 'message'
  &&
  mode === 'still'
"

[class.blink]="
  displayType === 'message'
  &&
  mode === 'blink'
"

        [class.theme-pink]="
          color === 'pink'
        "

        [class.theme-yellow]="
          color === 'yellow'
        "

        [class.theme-purple]="
          color === 'purple'
        "

        [class.theme-blue]="
          color === 'blue'
        "

        [class.theme-green]="
          color === 'green'
        "

        [class.theme-orange]="
          color === 'orange'
        "

        [class.style-neon]="
          displayStyle === 'neon'
        "

        [class.style-led]="
          displayStyle === 'led'
        "

        [style.--led-size.px]="
          ledSize
        "

        [style.--scroll-distance.px]="
          scrollDistance
        "
      >


        <div class="display-panel">


          <!-- =====================
               SCROLL MESSAGE
          ====================== -->

          @if (
            displayType === 'message'
            &&
            mode === 'scroll'
          ) {

            <div class="scroll-window">

              <div
                class="scroll-track"
                [class.ready]="
                  scrollReady
                "
                [style.animation-duration]="
                  displayDuration + 's'
                "
              >

                @for (
                  chars of scrollCopies;
                  track $index
                ) {

                  <div
                    class="
                      led-message
                      scroll-copy
                    "
                  >

                    @for (
                      char of chars;
                      track $index
                    ) {

                      <div
                        class="
                          led-character
                        "
                      >

                        @for (
                          row of getRows(char);
                          track $index
                        ) {

                          <div
                            class="
                              led-row
                            "
                          >

                            @for (
                              dot of row;
                              track $index
                            ) {

                              <span
                                class="led"
                                [class.on]="
                                  dot === '1'
                                "
                              ></span>

                            }

                          </div>

                        }

                      </div>

                    }

                  </div>

                }

              </div>

            </div>


          } @else {


            <!-- =====================
                 STILL / BLINK
            ====================== -->

            <div
              class="
                still-window
              "
            >

              <div
                class="
                  still-message
                "
              >

                @for (
                  char of displayChars;
                  track $index
                ) {

                  <div
                    class="
                      led-character
                    "
                  >

                    @for (
                      row of getRows(char);
                      track $index
                    ) {

                      <div
                        class="
                          led-row
                        "
                      >

                        @for (
                          dot of row;
                          track $index
                        ) {

                          <span
                            class="led"
                            [class.on]="
                              dot === '1'
                            "
                          ></span>

                        }

                      </div>

                    }

                  </div>

                }

              </div>

            </div>

          }


        </div>


        <!-- =====================
             TIMER CONTROLS
        ====================== -->

        @if (
          displayType ===
          'timer'
        ) {

          <div
            class="
              time-controls
            "
          >

            @if (
              !timerRunning
            ) {

              <button
                type="button"
                (click)="startTimer()"
              >
                START
              </button>

            } @else {

              <button
                type="button"
                (click)="pauseTimer()"
              >
                PAUSE
              </button>

            }


            <button
              type="button"
              (click)="resetTimer()"
            >
              RESET
            </button>

          </div>

        }


        <!-- =====================
             COUNTDOWN CONTROLS
        ====================== -->

        @if (
          displayType ===
          'countdown'
        ) {

          <div
            class="
              time-controls
            "
          >

            @if (
              !countdownRunning
            ) {

              <button
                type="button"
                (click)="startCountdown()"
              >
                START
              </button>

            } @else {

              <button
                type="button"
                (click)="pauseCountdown()"
              >
                PAUSE
              </button>

            }


            <button
              type="button"
              (click)="resetCountdown()"
            >
              RESET
            </button>

          </div>

        }


        <!-- =====================
             DOT SIZE
        ====================== -->

        <div
          class="
            size-control
          "
        >

          <div
            class="
              size-header
            "
          >

            <span>
              DOT SIZE
            </span>

            <span
              class="
                size-value
              "
            >
              {{ ledSize }} PX
            </span>

          </div>


          <input
            class="
              size-slider
            "
            type="range"
            min="4"
            max="20"
            step="1"
            [(ngModel)]="
              ledSize
            "
            (input)="
              onSizeChange()
            "
          />


          <div
            class="
              size-labels
            "
          >

            <span>
              SMALL
            </span>

            <span>
              LARGE
            </span>

          </div>

        </div>


        <!-- =====================
             EDIT
        ====================== -->

        <button
          type="button"
          class="
            back-button
          "
          (click)="stopDisplay()"
        >

          ← EDIT

        </button>


      </section>

    }

  </main>

</div>